# Composer
vendor/
composer.lock

# IDEs
.idea/

# Generated code
woocommerce-*.php
readme.txt
readme-*.txt

# Dev setup
wp_data/
.env

# Plugin archives
*.zip

# Playwright
node_modules/
playwright-storage/
playwright-report/
test-results/
